*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-white: #FFF;
  --color-lightgreen: #12f7d6;
  --color-grey: #43454d;
  --color-s: #1a1e23;

  --font-family-op: "Open Sans", serif;
  --font-family-pop: "Poppins", serif;
  --h1: 500 24px/135% var(--font-family-op);
  --h2: 800 16px/140% var(--font-family-op);
  --h3: 400 14px/140% var(--font-family-op);
  --text-span: 200 14px/145% var(--font-family-op);
  --text-sm: 200 14px/160% var(--font-family-op);
}

body{
  background-color: var(--color-s);
  display: flex;
  justify-content: center;
}

main{
  width: 768px;
  display: flex;
  justify-content: center;
  padding-block: 15px;
}
